<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7A9A20A1DF281AA00FD02DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A9A2321DF2A80E00FD02DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A9A2401DF2A81D00FD02DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
